@import "tailwindcss";


@layer utilities {
  .heading {
    @apply bg-black text-white text-[54px] leading-[65px] sm:text-[36px] sm:leading-[45px] uppercase px-3 py-6 font-work-sans font-extrabold text-center my-5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}
